@tailwind base;

@layer base {
  /* Remove standard focus style since it appears for both keyboard and mouse focus events */
  *:focus:not(.focus-visible) {
    outline: none;
  }

  /* Only applies focus for keyboard events. Included because we want standard focus style across all elements */
  :focus-visible {
    @apply ring ring-offset-2 ring-cta-500 ring-opacity-75 rounded-xl;
  }
}

@tailwind components;
@tailwind utilities;

@keyframes sheet-slide-in-desktop {
  from {
    transform: translateY(100%) translateX(-50%);
  }
  to {
    transform: translateY(-50%) translateX(-50%);
  }
}

@keyframes sheet-slide-out-desktop {
  from {
    transform: translateY(0) translateX(-50%);
  }
  to {
    transform: translateY(100%) translateX(-50%);
  }
}

@keyframes sheet-slide-in-mobile {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes sheet-slide-out-mobile {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
